body {
  background-color: $negro;
  font-family: $font-principal;
  color: $negro;
}

/* textos */
h1 {
  text-align: center;
  padding: 1rem;
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
}
